<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    Configure DriverManagerDataSource as a spring Bean-->

<!--    <bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/spring_test"/>-->
<!--        <property name="username" value="root"/>-->
<!--        <property name="password" value="sanket123"/>-->
<!--    </bean>-->

<!--    Configure Hikari CP as a spring Bean-->

 <bean id="hkds" class="com.zaxxer.hikari.HikariDataSource">
     <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
     <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_test"/>
     <property name="username" value="root"/>
     <property name="password" value="sanket123"/>
     <property name="minimumIdle" value="10"/>
     <property name="maximumPoolSize" value="100"/>

 </bean>

    <!--    Enable component scanning on the stereo type annotation spring bean-->
    <context:component-scan base-package="com.sanket"/>

</beans>